.root {
  width: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1.5fr;
}

.film_cover_wrapper {
  display: block;
  position: relative;
  width: 100%;
  aspect-ratio: 2/3;
  grid-column: 1/2;
}

.film_cover {
  object-fit: cover;
  border-radius: 20px;
}

.description {
  grid-column: 2/3;
}

.episode_number,
.episode_title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
  color: var(--text-highlight);
}

.title {
  color: #5043af;
  margin: 25px 0;
}

.about_film {
  list-style-type: none;
  padding-inline-start: 0;
}

.about_film li {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.about_film li span:first-child {
  display: inline-block;
  width: 30%;
  color: rgb(134, 130, 130);
}

.film_text {
  grid-column: 1/3;
  grid-row: 2/3;
  font-size: 22px;
  line-height: 1.5;
}
