.root {
}

.btn_theme {
  width: 30px;
  height: 30px;
  font-weight: bold;
  appearance: none;
  border-radius: 5px;
  background: var(--color-scheme-icon) no-repeat 50% 50% rgb(0, 0, 0, 0.95);
  background-size: 75%;
  color: var(--primiry-text-color);
  padding: 5px;
  position: absolute;
  top: 35px;
  right: 230px;
  box-shadow: 2px 2px 2px 1px rgba(245, 245, 245, 0.5);
  cursor: pointer;
}

.btn_theme:hover {
  background-color: rgb(39, 37, 37);
}

.btn_favorites {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  margin: 0 auto 0;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(90deg, #29004c, #5317ab, #644dd9, #01faff);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  cursor: pointer;
}

.btn_table_view {
  width: 40px;
  height: 40px;
  background: url("/table_sort.png") no-repeat 50% 50%;
  background-size: 100%;
  margin-right: 20px;
  border: none;
  cursor: pointer;
}

.btn_tile_view {
  width: 40px;
  height: 40px;
  background: url("/tile_sort.png") no-repeat 50% 50%;
  background-size: 100%;
  border: none;
  cursor: pointer;
}

.selected_table,
.selected_tile {
  outline: solid 2px rgb(19, 172, 172);
  border-radius: 5px;
}

.btn_tile_view:active,
.btn_table_view:active {
  transform: translateY(2px);
}

.btn_favorite {
  background: url("/закладка-темная-неактивная.svg") no-repeat 50% 50%;
  background-size: cover;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.btn_favorite_active {
  background: url("/закладка-темная-активная.svg") no-repeat 50% 50%;
  background-size: cover;
}

.btn_show_more_characters {
  display: none;
  text-decoration: none;
  color: var(--secondary-text-color);
  padding: 10px 30px;
  margin: 30px auto 0;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #9eefe1 0%,
    #4830f0 51%,
    #9eefe1 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  cursor: pointer;
}

.btn_show_more_characters:hover {
  background-position: right center;
}


@media only all and (max-width: 1024px) {
  .btn_favorite {
    width: 20px;
    height: 20px;
  }
}

@media only all and (max-width: 640px) {
  .btn_table_view {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .btn_tile_view {
    width: 30px;
    height: 30px;
  }
}

@media only all and (max-width: 425px) {
  .btn_theme {
    top: 25px;
    right: 200px;
  }

  .btn_favorites {
    padding: 5px 5px;
    font-size: 12px;
  }
}
