.root {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin: 0 20px;
}

@media only all and (max-width: 425px) {
  .root {
    flex-direction: column;
    gap: 20px;
  }

  .view_control{
    align-self: flex-end;
    display: none;
  }
}
