.root {
}

.tile {
  margin: 50px 20px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px 75px;
  padding-bottom: 50px;
}

.table {
  display: flex;
  width: 90%;
  flex-direction: column;
  gap: 50px;
  margin: 20px auto 0;
  padding-bottom: 50px;
}
