.root {
}

.title_films {
  padding-left: 10%;
  color: var(--primiry-text-color);
  margin: 20px 0;
}

.films_wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  gap: 20px;
  padding-bottom: 50px;
  position: relative;
}

@media only all and (max-width: 1024px) {
  .films_wrapper {
    margin: 0 20px;
    width: 95%;
    padding-bottom: 30px;
  }

  .title_films {
    padding-left: 0;
    margin-left: 5%;
    font-size: 24px;
  }
}
@media only all and (max-width: 640px) {
  .films_wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only all and (max-width: 425px) {
  .films_wrapper {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }

  .title_films {
    font-size: 18px;
  }
}
