.root {
  display: flex;
  font-size: 20px;
  color: var(--primiry-text-color);
  gap: 10px;
  align-items: center;
}

.sort_select {
  height: 40px;
  color: azure;
  background-color: rgb(34, 33, 33);
  border-radius: 10px;
  cursor: pointer;
}

@media only all and (max-width: 640px) {
  .root {
    font-size: 16px;
  }

  .sort_select {
    height: 30px;
  }
}

@media only all and (max-width: 425px) {
  .root {
    width: 100%;
  }

  .select_container{
    width: 70%;
  }
  .sort_select{
    width: 100%;
  }
}
